* {
    margin: 0px;
    padding: 0px;
}
*:focus {
    outline: none;
}



#bool{
    background-color: #01294c;
    color: #ffffff;
    text-align: center;
    padding: 0px;
    display: block;
    position: sticky;
    width: 100%;
    top: 0;
    
}
#header_logo {
    width: 222px;
}
footer {
    position: sticky;
    bottom: 0;
    background: #01294c;
}

aside{
    /* display:inline-block; */
    float: left;
    border: 1px solid #000;
    width: 200px;
}
#side_bar_menu_list{
    list-style-type:none;
}

main{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
}

st{
    color: #f00;
}

.header_menu{
    background-color: #ffffff;
    
}
.header_menu_list{
    display: table;
    justify-content: space-between;
    table-layout: fixed;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style-type: none;
}

.menu_list{
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid #fff;
    word-wrap: normal;
    height: 100%;
    text-align: center;
}

.buy{
    text-align: center;

}
#product_img{
    width: 100%;

}

#buy_info{
    display: ;
}

#buy_text{
    display: ;
}
#shop_info {
    text-align: left;
    margin: 0px 1.8%;
}
#shop_info_tex{
    text-align: left;
}
#product_info {
    margin-top: 10px;
    margin-bottom: 50px;
}
#product_info h2 {
    text-align: left;
    margin: 0px 1.8%;
    
}
#product_name {
    text-align: left;
    margin: 0px 1.8%;
}
#product_name h2 {
    line-height: 23px;
    margin-top: 10px;
}

/* #product_name{
    background-color: #ffffff;
} */

#buy_button{
    display       : inline-block;
    border-radius : 5px;          /* 角丸       */
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #000066;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
    border        : 2px solid #000066;    /* 枠の指定 */
    width: 88%;
    max-width: 406px;
}

#buy_button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #000066;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
}

body{
    /* background-image:url("../img/背景.png");*/
    color: #031d34;
} 

.product{
    text-align: center;
}

#cus_rev{
    display: inline-block;
    text-align: left;
}
#rev_1, #rev_2, #rev_3 {
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #8c8b8bed;
    border-radius: 4px;
}

#info{
    display: inline-block;
    text-align: left;
    background-color: #ffffff; 
    border: 1px solid #8c8b8b96;
    border-radius: 4px;
    width: 95%;
    padding: 1%;
}



.footer_menu{
    text-align: center;
}

.button {
    display: inline-block;
    border-radius: 5px;
    font-size: 18pt;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    background: #e30000;
    color: #ffffff;
    line-height: 17px;
    transition: .3s;
    text-decoration: none;
    margin: 5px;
    height: 14px;
  }

  .button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #000066;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }

  .header_button{
    display: inline-block;
    width: 110px;
    border-radius: 5%;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    background: #ffffff;
    color: #000000;
    line-height: 1em;
    transition: .3s;
    box-shadow: 3px 3px 1.5px #666666;
    border: 2px solid #9c9cbe;
    text-wrap: nowrap;
}

.header_button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #3939ac;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
}

#product_rev {
    margin: 10px;
}
#product_price_true {
    padding: 0px 9px;
    border-radius: 5px;
    background: #006c9c;
    margin: 0px 1.8%;
    margin-top: 19px;
    margin-bottom: 45px;
    color: #fff;
    width: 171px;

}
#product_price_true h2 {
    text-align: left;
    font-size: 29px;
}

#product_price {
    margin-top: 20px;
    color: #2525259c;
}
#product_price p {
    text-align: left;
    margin: 0px 1.8%;
    font-size: 18px;
    margin-bottom: 35px;
    transform: skewX(340deg);
    font-weight: bold;
}
#product_price span {
    font-size: 34px;
    color: #ff0000;
}

#product_price span {
    
}

@media screen and (max-width: 1090px) {

    .menu_list:has(#header_logo) {
        display: none;
    }
    .menu_list {
        height: 100px;
    }
}
@media screen and (max-width: 700px) {
    .header_button {
        font-size: 15px;
        padding: 12px 0px;
        width: 97%;
    }
}

@media screen and (max-width: 700px) { 
    .header_button {
        font-size: 12px;
    }
}

@media screen and (max-width: 530px) { 
    #bool h1 {
        font-size: 19px;
        padding: 8px 0px;
    }
}


@media screen and (max-width: 300px) { 
    .header_button {
        font-size: 10px;
    }
}

@media screen and (max-width: 250px) { 
    .header_menu_list {
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .menu_list {
        height: auto;
        margin: 5px;
    }
}